* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 70%;
  height: 100%;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-generator {
  width: 80%;
  height: 90%;
  border: 2px solid green;
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.user-input {
  border: 2px solid orange;
}

.color-display {
  display: grid;
  grid-template-rows: repeat(1fr, 5);
  border: 3px solid violet;
}

.color-box {
  border: 2px solid greenyellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy-btn {
}
